{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plataforma Pousada Praia Campeche</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

		<!-- Bootstrap CSS -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="{% static 'css/tiny-slider.css' %}" rel="stylesheet">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		<title>Furni Free Bootstrap 5 Template for Furniture and Interior Design Websites by Untree.co </title>
	</head>

	<body>

		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

			<div class="container">
				<a class="navbar-brand"  href="" ><img src="{% static 'images/logo.png' %}"></a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item active">
							<a class="nav-link" href="">Home</a>
						</li>
					</ul>

					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						<li><a class="nav-link" href="{% url 'administracao:login' %}"><img src="{% static 'images/user.svg' %}"></a></li>
					</ul>
                    {% if user.is_authenticated %}					
                        {% endif %}
				</div>
			</div>

		</nav>
		<!-- End Header/Navigation -->

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Venha Desfrutar <span clsas="d-block">Do Paraiso</span></h1>
								<p class="mb-4">Encontrar uma pousada famíliar em Campeche não precisa ser complicado. Receba as boas-vindas da Pousada Praia Campeche, uma boa opção para viajantes como você.
												Você vai desfrutar de um quarto com uma atmosfera relaxante, que conta com apartamento completo.
								</p>
								<p><a href="" class="btn btn-secondary me-2">Acessar</a><a href="{% url 'administracao:login' %}" class="btn btn-white-outline">Explorar</a></p>
							</div>
						</div>
<div class="col-lg-7">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/pousada.png' %}" class="d-block w-100" alt="Image 1">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/vistapousada.png' %}" class="d-block w-100" alt="Image 2">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/praiaCampeche.png' %}" class="d-block w-100" alt="Image 3">
            </div>
        </div>
    </div>
</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		<!-- Start Product Section -->
		<div class="product-section">
			<div class="container">
				<div class="row">

					<!-- Start Column 1 -->
					<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
						<h2 class="mb-4 section-title">Confira nossas opções.</h2>
						<p class="mb-4">Possuimos opções de quartos com 1 ou 2 dormitórios, com camas de casal e solteiro, além de salão de festas e churrasqueiras. </p>
						<p><a href="{% url 'administracao:login' %}" class="btn">Conferir</a></p>
					</div> 
					<!-- End Column 1 -->

					<!-- Start Column 2 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" href="{% url 'administracao:login' %}">
							<img src="{% static 'images/quarto.png' %}" class="img-fluid product-thumbnail">


							<h3 class="product-title">Apartamento 2 Dormitórios</h3>


							<span class="icon-cross">
								<img src="{% static 'images/cross.svg' %}" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 2 -->

					<!-- Start Column 3 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" href="cart.html">
							<img src="{% static 'images/casal2.png'%}" class="img-fluid product-thumbnail">

							<h3 class="product-title">Apartamento 1 Dormitório</h3>


							<span class="icon-cross">
								<img src="{% static 'images/cross.svg'%}" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 3 -->

					<!-- Start Column 4 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
						<a class="product-item" href="cart.html">
							<img src="{% static 'images/salaofestas.png'%}" class="img-fluid product-thumbnail">
							<h3 class="product-title">Salão de Festas</h3>


							<span class="icon-cross">
								<img src="{% static 'images/cross.svg'%}" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 4 -->

				</div>
			</div>
				<div class="map-container">
					<div class="map">
						<h5>Apartamento 2 Dormitórios</h5>
						<iframe src="https://www.google.com/maps/embed?pb=!4v1717437633674!6m8!1m7!1sCAoSLEFGMVFpcE1Cal9fZWNKMzItMlRJc0FXTFlGVF9UZWFQR3JEMWJUb1JsOGJZ!2m2!1d-27.69656280888119!2d-48.49064570692042!3f256.690259998553!4f-16.69541263605373!5f0.7820865974627469" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
					<div class="map">
						<h5>Apartamento 1 Dormitório</h5>
						<iframe src="https://www.google.com/maps/embed?pb=!4v1717437252057!6m8!1m7!1sCAoSLEFGMVFpcE1IMmpwRW04RHRyVkNCeUNGSE9ubHMtQmJ0cElONlY2c3BzVUtU!2m2!1d-27.69661605066751!2d-48.49074557882193!3f278.8445192940251!4f-20.668719475069977!5f0.7820865974627469" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
				</div>

		</div>



		<!-- Start Why Choose Us Section -->
		<div class="why-choose-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-6">
						<h2 class="section-title">Serviços e equipamentos</h2>
						<p>A Pousada Praia Campeche possui (08) apartamentos de um dormitório, que abrigam até três pessoas, e (02) apartamentos de dois dormitórios, que abrigam até cinco pessoas.
							Todos os apartamentos com Quartos equipados com cama king-size, guarda roupas, Smart TV 32, ventilador de teto, sala de estar com telefone, sofá cama Cozinha com mesa e cadeiras totalmente equipada com louças e eletrodomésticos (geladeira, fogão, liquidificador e sanduicheira), Varanda privativas com cadeiras.
							Além disso, a conexão à internet não será problema durante a estadia, pois a Pousada Praia Campeche oferece wi-fi gratuito aos hóspedes.</p>

						<div class="row my-5">
							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static 'images/truck.svg'%}" alt="Image" class="imf-fluid">
									</div>
									<h3>Estacionamento</h3>
									<p>Estacionamento no pátio da pousada.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static 'images/bag.svg'%}" alt="Image" class="imf-fluid">
									</div>
									<h3>Atendimento familiar</h3>
									<p>Atendimento familiar para que você se sinta inteiramente à vontade em nossa pousada.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static 'images/support.svg'%}" alt="Image" class="imf-fluid">
									</div>
									<h3>Serviço de Higenização</h3>
									<p>Serviço de Camareira para limpeza do Apartamento.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{% static 'images/return.svg'%}" alt="Image" class="imf-fluid">
									</div>
									<h3>Trocas Lençois</h3>
									<p>Troca de Lençóis a cada 03 (três) dias de hospedagem.</p>
								</div>
							</div>

						</div>
					</div>

					<div class="col-lg-5">
						<div class="img-wrap">
							<img src="{% static 'images/fotop.png' %}" alt="Image" class="img-fluid">
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End Why Choose Us Section -->

		<!-- Start We Help Section -->
		<div class="we-help-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-7 mb-5 mb-lg-0">
						<div class="imgs-grid">
							<div class="grid grid-1"><img src="{% static 'images/praia.jpeg'%}" alt="Untree.co"></div>
							<div class="grid grid-3"><img src="{% static 'images/50metros.png'%}" alt="Untree.co"></div>

						</div>
					</div>
					<div class="col-lg-5 ps-lg-5">
						<h2 class="section-title mb-4">Praia Campeche</h2>
						<p>A Praia do Campeche tem 5600 metros de extensão e fica entre a badalada praia da Joaquina e a bela praia do Morro das Pedras.
						Possui águas e areias limpas, próprias para banho e prática de esportes como surf, bodyboard, sandboard, caminhadas, pesca, jogos de areia entre outros.
						Também oferece, durante a temporada, opções de diversão como bares e restaurantes, muitos com música ao vivo, à beira da praia, a aproximadamente 1km da pousada. </p>

						<ul class="list-unstyled custom-list my-4">
							<li>Localização da Pousada Praia Campeche é em frente a Ilha do campeche.</li>
							<li>A Iconica Lagoa da Chica encontrasse a 30 metros da Pousada.</li>
							<li>A Pousada encontrasse em uma das ruas mais badaladas do campeche, Lomba do Sabão</li>
							<li>Praia do Campeche possui uma Orla de extensão de 3 km localizada no Sul da Ilha de Florianópolis.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>




			<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
			<div class="elfsight-app-c55cb9e4-9591-4507-bd89-cce6fa599c2e" data-elfsight-app-lazy></div>


		<footer class="footer-section">
			<div class="container relative">


				<div class="row g-5 mb-5">
					<div class="col-lg-4">
						<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Pousada Praia Campeche<span>.</span></a></div>
					<p class="mb-4">Contatos: +55 48 3338 - 2026 / +55 48 3338 - 3471 </p>
					<p class="mb-4">+55 48 9 9810 - 4098</p>



				</div>

				<div class="border-top copyright">
					<div class="row pt-4">
						<div class="col-lg-6">
							<p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Pousda Praia Campeche</a>
            </p>
						</div>

						<div class="col-lg-6 text-center text-lg-end">
							<ul class="list-unstyled d-inline-flex ms-auto">
								<li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>

					</div>
				</div>

			</div>
		</footer>



		<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'js/tiny-slider.js'%}"></script>
		<script src="{% static 'js/custom.js'%}"></script>
	</body>

</html>
